.fdhnjkdsjkdskljjkdas
    color: red
.fankjhdsjkdskjlsdjkl
    color: blue
.huieaikjhsdjkhdajass
    color: green
.fkldhjaklhdsjkaldas
    line-height: 1.8    
.dssdfdsdasasassaas
    position: relative
.dsdjajdhskdhjkeewaw
    background: blue !important
.reroiewjsdasdasas
    background: red !important
.tiroaklsklaskajkadsa
    background: green !important
.dhkjsdhkjnasjkals
    background: green !important
    color: #fff !important